<span class="aligncenter">
  <h4>{{PetType[selectedPetType]}}{{ selectedPetType != PetType.Fish ? "s" : "" }} by Owner's gender</h4>
</span>

<div class="panel panel-primary" style="text-align:center">    
  <div class="panel-body">
      <div class="form-group" style="text-align:center;"> 
        <input class="button" type="button" value="Dogs" (click)="getPets(1)" />
        <input class="button" type="button" value="Cats" (click)="getPets(2)" />
        <input class="button" type="button" value="Fish" (click)="getPets(3)" />         
      </div>          
  </div>
</div>

<div class="panel panel-primary" style="text-align:center">    
  <div class="panel-body">
      <div class="form-group" style="text-align:left;">                                                                  
        <table *ngIf="petsByPersonGender != null"  class="table table-dark">          
          <tbody>
              <tr *ngFor="let petsByPersonGender of petsByPersonGender.petsByPersonGender">
                <table class="table table-dark table-hover">
                  <tr>
                    <th>
                      Owner's gender {{ genders[petsByPersonGender.gender] }}
                    </th>
                  </tr>
                  <tr *ngFor="let pet of petsByPersonGender.pets">
                      <td>
                        {{ pet.name }}
                      </td>
                  </tr>
                </table>                                
              </tr>                            
          </tbody>          
        </table>
      </div>          
  </div>
</div>